/* Text for index items */
.board-index-item {
    text-align: left;
    cursor: pointer;
}

.board-index-item:hover {
    filter: brightness(90%);
}

.board-index-item h4 {
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
}

.board-index-item p {
    padding: 5px;
    font-weight: lighter;
    font-size: 12px;
} 

/* Board preview (mosaic of images) */
.board-preview-container {
    display: flex;
    align-items: center;
}

.board-preview-container .left, .board-preview-container .small-img {
    padding: 0;
    background-color: #efefef;
    object-fit: cover;
    border: 1px solid white;
}

.board-preview-container .left {
    height: 160px;
    width: 160px;
    border-radius: 24px 0 0 24px;
}

.board-preview-container .small-img {
    height: 79px;
    width: 79px;
}

.board-preview-container .top-right {
    border-radius: 0 24px 0 0;
}

.board-preview-container .bottom-right {
    border-radius: 0 0 24px 0;
}

.board-preview-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* if current user hovers their own board, shortcut edit button appears */
.edit-board-shortcut {
    position: absolute;
    right: 8px;
    bottom: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: none;
}

.edit-board-shortcut:hover {
    background-color: lightgray;
}

.board-index-item:hover .edit-board-shortcut {
    display: block;
}