.modal {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 12px;
}

.modal-content {
  z-index: 999;
  position: relative;
  background-color: white;
  border-radius: 32px;
  min-height: initial;
  width: 425px;
  top: 12%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-button {
  cursor: pointer;
  font-size: 15px;
  background-color: rgb(230, 0, 35);
  display:inline-block;
  padding:0.3em 1.2em;
  margin:5px 0px 5px 0px;
  border:0.16em solid transparent;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: bold;
  color: white;
  text-align:center;
  height: 40px;
  width: 300px;
}

.demo-user-button {
    background-color: #4267b2;;
}
.demo-user-button:hover {
    background-color: rgb(9, 30, 66);;
}

form h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1.2px;
  margin-bottom: 10px;
}

form p {
  font-size: 14px;
}

form input {
  height: 42px;
  width: 300px;
  border-radius: 16px;
  border: 2px solid lightgray;
  margin: 10px 0px 10px 0px;
  padding: 7px 10px 7px 10px;
  font-size: 16px;
  color: black;
}

p.error {
  color: red;
  font-weight: lighter;
}

div.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

input.errored-field {
  border: 1px solid red;
}