button.back-button {
    background-color: transparent;
    border: none;
    position: fixed; 
    top: 105px;
    left: 24px;
    cursor: pointer;
    padding: 14px;
    border-radius: 30px;
}

button.back-button:hover {
    background-color: lightgray;
}

#pin-show-container {
    display: block;
    border-radius: 18px;
    transform: translateX(15vw);
    margin: 20px;
    max-width: 70vw;
    position: relative;
}

#pin-show-container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 18px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2);
}

#pin-show {
    display: flex;
    align-items: flex-start;
}

#pin-show > img {
    width: 35vw;
    border-radius: 18px 0 0 18px;
    object-fit: contain;
}

.pin-show-desc {
    width: 35vw;
    padding: 25px;
}

/* links/nav at top of show */
.pin-show-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ps-nav-icons, .ps-comment-header {
    display: flex;
    align-items: center;
    width: 12vw;
}

.ps-nav-icons {
    justify-content: space-evenly;
}

.ps-navbutton {
    background-color: transparent;
    border: none;
}

.ps-more {
    position: absolute;
    top: 85px;
    left: 45%;
    width: 10vw;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.ps-more > li {
    padding: 4px;
    border-radius: 8px;
}

.ps-more a {
    padding: 0px;
}

.ps-more > li, .ps-more a {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.ps-more > li:hover {
    background-color: #efefef;
}

.ps-more > p {
    font-weight: lighter;
    font-size: 12px;
    padding: 4px 4px 10px 4px;
    text-align: left;
}

.ps-nav-icons svg {
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
}

.ps-nav-icons svg:hover, #show-more-comments:hover {
    background-color: lightgray;
}

/* Title, alt text, user fields */
.pin-show-desc > h3 {
    font-weight: 900;
    font-size: 36px;
}

.pin-show-desc p {
    font-weight: lighter;
    font-size: 14px;
}

.pin-show-desc > *, .pin-show-desc p {
    margin: 20px 0 20px 0;
}

/* Comment section */
#show-more-comments {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 2px 0 2px;
    border-radius: 25px;
    margin-left: 3px;
}

.hidden {
    display: none;
}

.rotate-down {
    transform: rotate(90deg);
}

.ps-comment-header > h4 {
    font-weight: 700;
    font-size: 20px;
}

.ps-comment-input-container {
    display: flex;
    align-items: center;
}

.comment-input {
    border-radius: 26px;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 16px;
    margin-left: 15px;
    width: 20vw;
}

/* Save to board menu */
.board-save, .expander, .board-list-item, .board-list-name {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.expander {
    min-width: 110px;
}

.board-save h2 {
    font-weight: 700;
    font-size: 16px;
    padding: 12px;
}

.board-save-list {
  z-index: 999;
  position: absolute;
  border-radius: 26px;
  padding: 10px;
  width: 340px;
}

.pin-show-nav .board-save-list {
  top: 95px;
  right: -30px;
}

.board-save-list h4 {
    text-align: center;
    font-weight: 700;
    padding: 20px 0 20px 0;
}

.board-list-item {
    justify-content: space-between;
    border-radius: 12px;
}

.board-list-item:hover {
    background-color: #efefef;
}

.styled-button.save-shortcut {
    display: none;
}

.board-list-item:hover .save-shortcut {
    display: inline-block;
}

.board-mini-image {
    height: 48px;
    width: 48px;
    object-fit: cover;
    background-color: #efefef;
    border-radius: 8px;
    margin: 8px;
}