main.pin-index {
    width: 90vw;
    margin: 0 auto;
    column-count: 5;
    column-width: auto;
    column-gap: 5px;
}

main.pin-index img {
    max-width: 15vw;
    padding: 10px;
    border-radius: 24px;
}