main.pin-index {
    width: 90vw;
    margin: 0 auto;
    /* column-count: 5;
    column-width: auto;
    column-gap: 5px; */
    display: grid;
    grid-template-columns: repeat(5, 18vw);
    grid-template-areas: "discgrid0 discgrid1 discgrid2 discgrid3 discgrid4";
}

.gridcol {
    margin: 0 10px 0 10px;
}

.col0 {
    grid-area: discgrid0;
}

.col1 {
    grid-area: discgrid1;
}

.col2 {
    grid-area: discgrid2;
}

.col3 {
    grid-area: discgrid3;
}

.col4 {
    grid-area: discgrid4;
}


main.pin-index img {
    max-width: 15vw;
    padding: 5px;
    border-radius: 24px;
}

main.pin-index a {
    text-decoration: none;
    color: inherit;
}

div.pin-index-item {
    cursor: zoom-in;
    margin: 5px 0 35px 0;
}

div.pin-index-item:hover {
    filter: brightness(70%);
}

div.pin-desc-text {
    margin: 0px 10px 0px 10px;
}

h6.pin-name {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    padding-bottom: 2px;
}

p.pin-alt {
    font-weight: lighter;
    font-size: 14px;
}