#splash-content {
    margin: 0 auto;
}

#splash-content h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

#splash-content h1.cadetblue {
    color: cadetblue;
}
#splash-content h1.goldenrod {
    color: goldenrod;
}
#splash-content h1.lightcoral {
    color: lightcoral;
}

#splash-content h1.sliding {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: slide-up 5s;
    animation-iteration-count: infinite;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        line-height: 200px;
    }
    20% {
        opacity: 1;
        line-height: 50px;
    }
    80% {
        opacity: 1;
        line-height: 50px;
    }
    100% {
        opacity: 0;
        line-height: 0px;
    }
}

div.splash-theme-buttons {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}